canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/
node-pre-gyp_binary_host_mirror=https://node-pre-gyp-npm.railway.app/
unsafe-perm=true
update-notifier=false
fund=false 